.custom-carousel{
    height: 400px;
    align-items: center;
}

.col>img{
    height: 370px;
}

.carousel-item {
    margin-top: 20px;
}

.custom-details {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-details i {
    font-size: 4rem;
    transition: 1s;
}

.custom-details:hover i {
    color: blue;
    transform: rotate(-720deg) scale(1.2);
    transition: 2s;
}

.costumer_sessao_contato{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.costumer_sessao_contato_img>img{
    height: 400px;
}


.costumer_sessao_contato_form{
    border-radius: 5%;
}

.costumer_sessao_contato_form>form{
    display: flex;
    flex-direction: column;
    margin: 15px 15px 25px 15px;
    color: aliceblue;
}

.costumer_sessao_contato_form>form>input, .costumer_sessao_contato_form>form>label, .costumer_sessao_contato_form>form>button{
    margin: 3px 3px 3px 3px;
}

.costumer_sessao_contato_form>form>button{
    margin-top: 15px;

}

.costumer_sessao_endereco{
    padding-top: 50px;
    padding-bottom: 50px;
}